<!doctype html>
<html ng-app>
<head>


</head>
<body>
	<div><a href="" wicket:id="langEn">EN</a> | <a href="" wicket:id="langFi">FI</a></div>
	<h2><wicket:message key="todos.title">[Todo]</wicket:message></h2>
	<div ng-controller="TodoCtrl">
		<span><wicket:message key="todos.remaining">[2 of 10 remaining]</wicket:message></span> [ <a
			href="" ng-click="archive()"><wicket:message key="todos.archive">[archive]</wicket:message></a> ]
		<ul class="unstyled">
			<li ng-repeat="todo in todos"><input type="checkbox"
				ng-model="todo.done"> <span class="done-{{todo.done}}">{{todo.text}}</span>
			</li>
		</ul>
		<form ng-submit="addTodo()">
			<input type="text" ng-model="todoText" size="30"
				wicket:message="placeholder:todos.add.placeholder"> <input class="btn-primary"
				type="submit" wicket:message="value:todos.add">
		</form>
	</div>
</body>
</html>